.menu{
    width: 1000px;
    height: 600px;
    border: 1px solid red;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap:  wrap;
    align-items: center;            
}
.box{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
.box{
    background: red
}